@font-face {
  font-family: "CalculatorFont";
  src: url("./digital-7.ttf") format("truetype");
}


.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 24pt;
}

.buttons {
  display: grid;
  grid-template-areas: "clear clear clear ."
  ". . . ."
  ". . . ."
  ". . . ."
  "zero zero . . ";
  height: 400px;
  width: 400px;
 }

.clear {
  grid-area: clear;

}

.zero {
  grid-area: zero;
}

.btn {
  background-color: #95999e;
  font-size: 16pt;
  border-radius: 25px;
  background-image: linear-gradient(180deg,#cecfcf 0%, #95999e 100% );
}

.screen {
  font-family: 'CalculatorFont', Arial, sans-serif;
  font-size: 64pt;
  text-align-last:right;
  background-image: linear-gradient(180deg,#d5fcef 0%,#7fffd4 100% );
  color: #023602;
  height: 100px;

}

.calcWrapper {
background-color: lightgray;
}
